<div class="chat-container">
  <app-sidebar></app-sidebar>

   <aside class="sidebar">
        <h2>Chats</h2>
            <ul>
                <li>Chat 1</li>
                <li>Chat 2</li>
                <li>Chat 3</li>
            </ul>
    </aside>

<div class="chat-primero">
    
    <header class="chat-header">
      <h2>Chat</h2>
    </header>

    <div class="chat-messages">
      <article class="mensaje a otro">Hola</article>
      <article class="mensaje a mi">Hola como estas</article>
    </div>
</div>

 <form class="chat-input">
      <input type="text" placeholder="Escribí un mensaje..." />
      <button>Enviar</button>
 </form>

  

</div>
