
.chat-container {
  display: flex;
  height: 100vh;
  background: #51555c;
  color: #f4f4f5;
  font-family: 'Segoe UI', sans-serif;
}

.chat-primero {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 10px;
  padding-left: 10px;
}

.chat-header {
  padding: 15px;
  font-weight: bold;
  color: #cba6f7;
  background-color: #858585;
  margin-left: 30px;
}

.chat-messages {
  flex: 1;
  padding: 15px;
  margin-left: 2%;
  overflow-y: auto;
  background-color: #c0bbc7;
}

.mensaje {
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 15px;
  max-width: 60%;
  font-size: 14px;
}

.mensaje.mi {
  background: #b294d8;
  color: #2b2d31;
  margin-left: auto;
  border-bottom-right-radius: 5px;
  padding: 20px;
  width: 50%;
}

h2{
    margin: 30px;
}

.mensaje.otro {
    width: 50%;
  background: #dd97ca;
  color: #2b2d31;
  border-bottom-left-radius: 5px;
  padding: 20px;
}

.chat-input {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  padding: 20px;
  margin-left: 30px;
  background: #5d88d1;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 14px 16px;
  border-radius: 12px;
  border: none;
  background: #2e3036;
  color: white;
  font-size: 14px;
}

.chat-input button {
  padding: 14px 18px;
  border: none;
  background: #5865f2;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Estilos para dispositivos móviles */


 

@media (max-width: 600px) {

  .chat-container {
    flex-direction: column;
  }

  .chat-primero {
    padding: 0;
  }

  .chat-header {
    margin: 0;
    border-radius: 0;
  }

  .chat-messages {
    margin: 0;
    border-radius: 0;
  }

  .chat-input {
    margin: 0;
    border-radius: 0;
    flex-direction: column !important;
    gap: 15px;
  }

  .chat-input input {
    width: 100%;
  }

  .chat-input button {
    width: 100%;
  }
}