<main class="chat-container">
    
    <app-sidebar 
  [usuarios]="usuarios"
  (usuarioSeleccionado)="seleccionarUsuario($event)">
  </app-sidebar>

    <div class="chat-primero">
    
        <header class="chat-header">
            <img 
            [src]="usuarioActivo.avatar" 
            class="avatar-header"
            />

            <div class="info">
                <h3>{{ usuarioActivo.nombre }}</h3>

                <p>
                @if (usuarioActivo.online) {
                En línea 🟢
                } @else {
                Últ. vez: {{ usuarioActivo.lastSeen }}
                }
                </p>
                </div>
        
        </header>

        <div class="chat-messages"> 
        @for (msg of usuarioActivo.mensajes; track $index) {
            <div class="mensaje" [class.mi]="msg.mio" [class.otro]="!msg.mio">
        {{ msg.texto }}
        @if (msg.imagen) {
      <img [src]="msg.imagen" class="imagen-chat" />
    }
    </div>
  }

    </div>
        

        <form (ngSubmit)="enviarMensaje()" class="chat-input">
        <i class="fa-solid fa-photo-film"></i>
        <i class="fa-solid fa-camera"></i>
        <i class="fa-solid fa-paperclip"></i>
            <input 
                type="text" 
                placeholder="Escribí un mensaje..." 
                [(ngModel)]="mensajeNuevo" 
                name="mensaje"
            />
            <button type="submit">Enviar</button>
        </form>
    </div>

 

  

</main>
