<div class="chat-container">
  <app-sidebar></app-sidebar>
   <div class="sidebar">
    <h2>Chats</h2>
    <p>Usuario 1</p>
    <p>Usuario 2</p>
  </div>
  <div class="chat-primero">
    
    <div class="chat-header">
      <h2>Chat</h2>
    </div>
 <div class="chat-messages">
      <div class="mensaje a otro">Hola</div>
      <div class="mensaje a mi">Hola como estas</div>
    </div>
</div>

 <div class="chat-input">
      <input type="text" placeholder="Escribí un mensaje..." />
      <button>Enviar</button>
    </div>

  </div>

</div>
