:host {
  display: block;
  width: 350px;
}

.sidebar {
  width: 375px;
  background: #939aaa;
  padding: 15px;
  padding-left: 0px;
}

.sidebar h2 {
  font-size: 14px;
  color: #f5c2e7;
  margin-bottom: 10px;
}

.sidebar li {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar li:hover {
  background: #180e1570; 
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  padding-bottom: 0px;
}

.nombre{
  display: flex;
  align-items: center; 
  gap: 8px;
  font-size: 20px;
  color: #050505;
  padding: 30px;
}

li{
    text-decoration: none;
    list-style-type: none;
}

h1{
    margin-left: 30px;
}

